#homePageContainer{
background: linear-gradient(white, khaki ,white)
}
.jumbotron{
    background: inherit;
    margin: 0px;
    padding-left: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}
body{
font-family: 'Dancing Script', cursive;
}
footer {
    border-style:solid; 
    border-width:1px; 
    border-color:gray
}
#restaurantName{
    font-weight: bolder;
    font-size: 80px;
}
p{
    font-size:20px
}
nav a {
    color: black;
    background-color: khaki !important;
    margin: 5px;
    font-size: 20px;
}
nav a:hover {
    font-weight: bolder;
    color: inherit;
}
h5{
    font-size: 25px;
    font-weight: bold
}
.carousel-caption p{
    font-size: 25px;
    font-weight: bold
}
#restAddress {
    float:left; 
    margin-left: 5px; 
    font-size: 15px
}
#restPhone {
    float:right; 
    margin: 5px; 
    font-size: 15px
}